page-login {
  .masters {
    background-color:#ffffff;
    text-align:center;
    .scroll-content {
      overflow-y:hidden;
    }
  } 
  .btn_facebook {
    color:white;
    text-align:center;
    background-color:#3C55A2;
    width: 90%;
  }
  .btn_email {
    color:white;
    text-align:center;
    background-color:#BCBABA;
    width:90%;
  }
  .btn_linked{
    color:white;
    text-align:center;
    background-color:#0E76A8;
    width:90%;
  }
}