page-register {
  .masters {
    background-color:#ffffff;
    text-align:center;
  }
  .grid_signin {
  	width:90%;
  	text-align:center;
  }
  .btn_signin {
    color:white;
    text-align:center;
    text-transform: none;
    width: 90%;
  }
}