page-splesh {
  .masters {
    background-color:#ffcd00;
    text-align:center;
  }
  .label_spinner {
    position:absolute;
    color:#ffcd00;
    width:100%;
  }
  .label_spinner ion-spinner circle {
    fill:#ffcd00;
  }
}