page-settings {
  .masters {
    background-color: #ececec;
  }
  .first_div {
    background-color: #fff;
    div {
      margin: 0px 16px;
      padding: 16px 0px;
    }
  }
  .second_div {
    div {
      margin: 0px 16px;
      padding: 16px 0px;
    }
  }
}