page-welcome {
  .masters {
    background-color:#ffcd00;
    text-align:center;
  }
  .btn_join {
    color: #000000;
    text-align: center;
    background-color:white;
    text-transform: none;
    width: 90%;
  }
  .btn_signin {
    color: #ffffff;
    text-align: center;
    text-transform: none;
    margin-top: 20px!important;
    width: 90%;
  }
}