page-search {
  .my_search {
    margin: 0px 8px!important;
    input {
      width: calc(100% - 16px)!important;
    }
  }
  .right_p {
    font-size:16px;
    color: white!important;
    margin: 0px 5px;
    text-transform: none!important;
  }
}