page-skills {
  .my_item {
    ion-label {
      margin: 0px!important;
    }
    p {
      font-size: 14px!important;
      color: black!important;
    }    
    ion-icon {
      font-size: 16px!important;
      margin: 0 9px 0 0!important;
      min-height: 0!important;
      color: black!important;
    }
  }
  .my_hr {
    margin: 0px 16px;
  }
}